@import '~@angular/material/theming';

@mixin ngx-drawer-layout-theme($theme) {
  $primary: map-get($theme, primary);

  ngx-drawer-nav-item.router-active {
    background: rgba(mat-color($primary), 0.2);
    color: mat-color($primary);
  }

  ngx-drawer-nav-item.router-active:hover {
    background: rgba(mat-color($primary), 0.3);
  }

  ngx-drawer-nav-item.router-active mat-icon {
    color: mat-color($primary);
  }
}
