<ngx-drawer-layout>
  <mat-toolbar color="primary" ngxDrawerLayoutHeader>
    <button mat-icon-button ngxDrawerToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div>NGX Drawer Layout Demo</div>

    <div class="flex-grow"></div>

    <a mat-icon-button href="https://github.com/kevlatus/ngx-drawer-layout">
      <mat-icon svgIcon="github"></mat-icon>
    </a>

    <a mat-icon-button href="https://www.npmjs.com/package/ngx-drawer-layout">
      <mat-icon svgIcon="npm"></mat-icon>
    </a>
  </mat-toolbar>

  <ngx-drawer-nav-list
    ngxDrawer
    initialOpen
    heading="Navigation"
    [items]="items"
  ></ngx-drawer-nav-list>

  <div ngxDrawer="end" initialMode="over" style="width: 256px;">
    <div style="padding: 16px;">Yo</div>
  </div>

  <div ngxDrawerLayoutContent>
    <router-outlet></router-outlet>
  </div>
</ngx-drawer-layout>
